/* Mobile view styles */
body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  nav ul {
    display: none;
  }
  
  #hamburger {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  
  figure {
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  

  nav ul.show {
    display: block;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    background-color: #333;
    text-align: center;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem;
  }
  